@tailwind base;
@tailwind components;
@tailwind utilities;

.p-dialog-mask {
    background-color: transparent !important;
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(2px) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.p-drawer-mask{
    background-color: transparent !important;
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(2px) !important;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #7548DB;
    border-radius: 1px;
}

::-webkit-scrollbar-track {
    /*background-color: #1a142a;*/
}
